*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;   
}

p{
    width: 100%;
    
}

#f_name{
    background-color: brown;
    width: fit-content;
}

#l_name{
    background-color: rgb(42, 165, 61);
    width: fit-content;
}

div{
    display: flex;
    flex-wrap: wrap;

}

#div1,#div2,#div3,#div4{
    width: 50px;
    height: 50px;

}

#div1{
    background-color: aqua;
}

#div2{
    background-color: blue;
}

#div3{
    background-color: rgb(172, 21, 21);
}

#div4{
    background-color: rgb(112, 44, 122);
}

#parent_div{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    /* justify-content: space-evenly;   */
    /* justify-content: space-around; */
    justify-content: center;
    gap: 20px;
}