*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
}

#logo{
    display: flex;
}

#logo img
{
    width:200px;
    height: 150px;
}

nav{
    display: flex;
    
}

#menu-section
{
    display: flex;
  
}

#links{
    display: flex;
}

.nav-btn{
    display: flex;
    gap:20px
}

#login-btn{
    width: 40px;
    height: 30px;
}

