*{
   margin:0;
   padding: 0;

}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(52, 49, 49);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 22px 25px;
}

nav a{
    text-decoration: none;
    color: white;
}


.nav-s{
    display: flex;
    gap:20px;
    font-size:14px;
    align-items: center;
}

.nav-s i{
    font-size: 18px;
}

.nav-s img{
    height: 34px;
    width: 34px;
    background: white;
    border-radius: 50%;
}


.search-menu{
      display: flex;
      flex-direction: column;
      width: fit-content;
      margin: auto;
      align-items: center;
}

.search-menu img{
      width: 400px;
      
       
}